body {
  margin: 0;
}

.site-container {
  min-height: 100vh;
}

main {
  flex: 1;
  background-color: #32e66861;
}

.btn-primary {
  background-color: #fff708;
  color: black;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product img {
  height: 300px;
  width: 100%;
  max-width: 400px;
}

.product-info {
  padding: 1rem;
}

.rating span {
  color: #12a53e;
}

.img-large {
  max-width: 100%;
  background-color: white;
}
.img-thumbnail {
  height: 80px;
}

.small-container {
  max-width: 600px;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}

.font-link {
  font-family: 'Yeon Sung', cursive;
}

a {
  color: rgb(13, 219, 17);
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

a:hover,
a:focus {
  background-color: #44a962;
  color: #333;
}
